<html>
  <head>
    <title>{{prova.nom}}</title>
    <meta lang="es">
  </head>
  <body>

            <h1><a href="">Gymkhanr</a></h1>

            <h2><a href="..">{{gymcana.nom}} </a></h2>


                        <h3>{{ prova.nom }}</h3>
			{% if prova.superada %} <p> Superada! </p>
                        {% else %} <p> Pendent!</p>
                        {% endif %}
                        <p>{{ prova.descripcio }}</p>
		        {% for resposta in respostes %}
			{% if prova.tipo = 1 %}
			  <button type="button">{{ resposta.resposta}} </button>	
			{% elif prova.tipo = 2 %}
			     empty	
			{% endif %}
			{% endfor%}

  </body>
</html>
